<div class="mt-5 mb-5 text-center">
  <%= form_for :file, url: upload_file_path do |form| %>
      <%= form.file_field :file %>
      <%= form.submit t('.send') , class: "btn btn-primary ml-3"%>
    </div>
  <% end %>
</div>